<div class="lista-entradas">
  <div class="title"><b>Lista de usuários da loja</b></div>
  <div class="list">
    <div class="item {{ usuario.status }}" *ngFor="let usuario of usuarios">
      <mat-icon class="visibility" *ngIf="usuario.status === 'ATIVO'"
        >visibility</mat-icon
      >
      <mat-icon class="visibility" *ngIf="usuario.status !== 'ATIVO'"
        >visibility_off</mat-icon
      >
      <p>{{ usuario.nome }}</p>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        color="primary"
        style="margin-left: auto"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editarUsuario(usuario)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="status(usuario)">
          <mat-icon>price_change</mat-icon>
          <span
            >Colocar como:
            <b>{{ usuario.status === "ATIVO" ? "INATIVO" : "ATIVO" }}</b></span
          >
        </button>
      </mat-menu>
    </div>
  </div>
</div>

<!-- <div class="lista-produtos">
  <div
    class="lista-produtos-item"
    [ngClass]="{
      ATIVO: statusAtivo(usuario.status),
      INATIVO: statusInativo(usuario.status)
    }"
    *ngFor="let usuario of usuarios"
  >
    <div class="content-mat-item">
      {{ usuario.nome }}
    </div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      color="primary"
      style="margin-left: auto"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editarUsuario(usuario)">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item (click)="status(usuario)">
        <mat-icon>price_change</mat-icon>
        <span
          >Colocar como:
          <b>{{ usuario.status === "ATIVO" ? "INATIVO" : "ATIVO" }}</b></span
        >
      </button>
    </mat-menu>
  </div>
</div> -->
<div class="bottom-button">
  <button mat-flat-button color="primary" (click)="addUsuario()">
    <mat-icon>add</mat-icon> Novo Usuário
  </button>
</div>
<!-- <div class="fab-button"></div> -->
