<div class="portal">
  <header>
    <div class="logomarca"><img src="assets/img/logomarca.png" /></div>

    <div class="menu">
      <!-- <mat-button-toggle-group name="fontStyle" color="primary">
        <mat-button-toggle value="resumo">Visão geral</mat-button-toggle>
        <mat-button-toggle value="pdv">PDV</mat-button-toggle>
        <mat-button-toggle value="pedidos">Pedidos</mat-button-toggle>
      </mat-button-toggle-group> -->
      <div class="group-buttons">
        <div class="btn-active">Visão geral</div>
        <div>PDV</div>
        <div>Pedidos</div>
      </div>
    </div>

    <div class="profile">Bem vindo, {{ usuarioLogado.nome }}</div>
  </header>
  <main>
    <div class="left">
      <p class="ultimos-pedidos">
        <mat-icon>grading</mat-icon>
        <span>Ultimos pedidos</span>
      </p>
      <a mat-button class="visualizar-todos"> Ver todos os pedidos do dia </a>
    </div>
    <div class="center">
      <div class="graph"></div>
      <button class="cta" mat-button>
        <mat-icon>touch_app</mat-icon>
        <span>Abrir caixa</span>
      </button>
      <div class="cards">
        <button mat-button class="card saida">
          <mat-icon>upload</mat-icon>
          <span>Saída</span>
        </button>
        <button mat-button class="card entrada">
          <mat-icon>download</mat-icon>
          <span>Entrada</span>
        </button>
        <button mat-button class="card logout" (click)="go('login')">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </div>
    <div class="right">
      <div class="cards">
        <button mat-button class="card" (click)="abrirModalCliente()">
          <mat-icon>person</mat-icon>
          <span>Informações do clientes</span>
        </button>
        <button mat-button class="card">
          <mat-icon>redeem</mat-icon>
          <span>Cadastro de produtos</span>
        </button>
        <button mat-button class="card">
          <mat-icon>dashboard</mat-icon>
          <span>Dados de fornecedor</span>
        </button>
        <button mat-button class="card">
          <mat-icon>explore</mat-icon>
          <span>Entrada de estoque</span>
        </button>
      </div>
    </div>
  </main>
  <footer></footer>
</div>
<!-- <mat-drawer-container [hasBackdrop]="true" class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <img
      src="assets/img/logomarca.png"
      style="max-width: 100%; height: 128px; padding: 16px; object-fit: contain"
    />
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        style="font-size: 13px"
        (click)="go(item.route, drawer)"
        routerLinkActive="active"
        *ngFor="let item of visibleMenu"
      >
        <div class="mat-list-item-container">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span style="font-size: 13px; font-weight: 500; margin-left: 8px">{{
            item.label
          }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="!tituloAlterado ? drawer.toggle() : goHome()"
      >
        <mat-icon *ngIf="!tituloAlterado">menu</mat-icon>
        <mat-icon *ngIf="tituloAlterado">chevron_left</mat-icon>
      </button>
      <div style="display: flex; align-items: center">
        <img
          src="assets/img/logomarca-icone.png"
          style="max-width: 100%; height: 24px"
          *ngIf="!tituloAlterado"
        />
        <span
          style="
            margin-left: 8px;
            text-wrap: wrap;
            text-align: left;
            font-size: 16px;
          "
        >
          <b>{{ title }}</b>
        </span>
      </div>
      <span class="example-spacer"></span>
      <span style="font-size: 10px; color: #001940"
        >V{{ currentApplicationVersion }}</span
      >
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container> -->
