<div class="lista-entradas">
  <div class="title">
    <b>Lista de Fornecedores</b>
  </div>
  <div class="list">
    <div
      class="item {{ fornecedor.status }}"
      *ngFor="let fornecedor of fornecedores"
    >
      <mat-icon class="visibility" *ngIf="fornecedor.status === 'ATIVO'">
        visibility
      </mat-icon>
      <mat-icon class="visibility" *ngIf="fornecedor.status !== 'ATIVO'">
        visibility_off
      </mat-icon>
      <p>{{ fornecedor.nome_fantasia }} | {{ fornecedor.cpf_cnpj }}</p>
      <button
        mat-icon-button
        color="primary"
        style="margin-left: auto"
        (click)="editar(fornecedor)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        style="margin-left: auto"
        (click)="status(fornecedor)"
      >
        <mat-icon *ngIf="fornecedor.status === 'ATIVO'">block</mat-icon>
        <mat-icon *ngIf="fornecedor.status !== 'ATIVO'">task_alt</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="bottom-button">
  <button mat-flat-button color="primary" (click)="adicionar()">
    <mat-icon>add</mat-icon> Adicionar
  </button>
</div>
