<ngx-loading
  [show]="processando"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
<div class="container-page-dialog">
  <h3 mat-dialog-title>{{ title }}</h3>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <div class="linha">
        <mat-form-field style="width: 100%; padding-top: 8px" cdkFocusInitial>
          <mat-label>Nome</mat-label>
          <input
            type="text"
            matInput
            #inputnome
            (focus)="inputnome.select()"
            formControlName="nome"
            cdkFocusInitial
          />
        </mat-form-field>
        <mat-form-field style="width: 100%; padding-top: 8px">
          <mat-label>CPF / CNPJ</mat-label>
          <input
            type="number"
            matInput
            #inputcpf_cnpj
            (focus)="inputcpf_cnpj.select()"
            formControlName="cpf_cnpj"
          />
        </mat-form-field>
      </div>
      <div class="linha">
        <mat-form-field style="width: 100%; padding-top: 8px" cdkFocusInitial>
          <mat-label>E-mail</mat-label>
          <input
            type="email"
            matInput
            #inputemail
            (focus)="inputemail.select()"
            formControlName="email"
            cdkFocusInitial
          />
        </mat-form-field>
        <mat-form-field style="width: 100%; padding-top: 8px">
          <mat-label>Telefone</mat-label>
          <input
            type="tel"
            matInput
            #inputtelefone
            (focus)="inputtelefone.select()"
            formControlName="telefone"
          />
        </mat-form-field>
      </div>
      <div class="linha">
        <mat-form-field style="width: 100%; padding-top: 8px" cdkFocusInitial>
          <mat-label>CEP</mat-label>
          <input
            type="tel"
            matInput
            #inputcep
            (focus)="inputcep.select()"
            formControlName="cep"
            cdkFocusInitial
          />
          <button
            mat-icon-button
            matSuffix
            color="accent"
            (click)="pesquisarCep()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field style="width: 100%; padding-top: 8px">
          <mat-label>Rua</mat-label>
          <input
            type="text"
            matInput
            #inputlogradouro
            (focus)="inputlogradouro.select()"
            formControlName="logradouro"
          />
        </mat-form-field>
      </div>
      <div class="linha">
        <mat-form-field style="width: 100%; padding-top: 8px">
          <mat-label>Numero</mat-label>
          <input
            type="text"
            matInput
            #inputnumero
            (focus)="inputnumero.select()"
            formControlName="numero"
          />
        </mat-form-field>
        <mat-form-field style="width: 100%; padding-top: 8px">
          <mat-label>Complemento</mat-label>
          <input
            type="text"
            matInput
            #inputcomplemento
            (focus)="inputcomplemento.select()"
            formControlName="complemento"
          />
        </mat-form-field>
      </div>
      <div class="linha">
        <mat-form-field style="width: 100%; padding-top: 8px">
          <mat-label>Bairro</mat-label>
          <input
            type="text"
            matInput
            #inputbairro
            (focus)="inputbairro.select()"
            formControlName="bairro"
          />
        </mat-form-field>
        <mat-form-field style="width: 100%; padding-top: 8px">
          <mat-label>Cidade</mat-label>
          <input
            type="text"
            matInput
            #inputcidade
            (focus)="inputcidade.select()"
            formControlName="cidade"
          />
        </mat-form-field>
      </div>
      <div class="linha">
        <mat-form-field style="width: 100%; padding-top: 8px">
          <mat-label>Estado</mat-label>
          <input
            type="text"
            matInput
            #inputestado
            (focus)="inputestado.select()"
            formControlName="estado"
          />
        </mat-form-field>
        <span></span>
      </div>
    </form>
  </div>
  <div mat-dialog-actions style="justify-content: flex-end">
    <button mat-stroked-button color="warn" (click)="onNoClick()">
      Fechar
    </button>
    <button mat-flat-button color="primary" (click)="handdle()">Salvar</button>
  </div>
</div>
